{% load i18n %}
{% trans "Available Networks" as available_label %}
{% trans "Selected Networks" as selected_label %}

<noscript><h3>{{ step }}</h3></noscript>
<div id="networkListSortContainer">
  {% blocktrans %}
    <label id="selected_network_label">{{ selected_label }}</label>
    <ul id="selected_network" class="networklist"></ul>
    <label>{{ available_label }}</label>
    <ul id="available_network" class="networklist"></ul>
  {% endblocktrans %}
  {% blocktrans with %}
    Choose network from <strong>{{ available_label }}</strong> to <strong>{{ selected_label }}</strong> by push button or drag and drop, you may change NIC order by drag and drop as well.
  {% endblocktrans %}
</div>

<div id="networkListIdContainer">
  <div class="actions">
    <div id="networkListId">
      {% include "horizon/common/_form_fields.html" %}
    </div>
  </div>
  <div class="help_text">
    {{ step.get_help_text }}
  </div>
</div>


<script>
  if (typeof $ !== 'undefined') {
    horizon.instances.workflow_init($(".workflow"));
  } else {
    addHorizonLoadEvent(function() {
      horizon.instances.workflow_init($(".workflow"));
    });
  }
</script>
